<div class="ui form segment">
  <h2>Fixtures - Bottom Right</h2>
  <div class="ui grid center aligned">
	<div class="sixteen wide column">
       	 <div class="fields">
       	    <div class="four wide column" style="width: 25%;">
       	        <label>Choose Location</label>
                <select class="ui fluid dropdown" ng-model='bottomRight.chosenLocation' ng-change="locationChosen()" ng-options='location for location in bottomRight.locations'></select>
            </div>
            <div class="four wide column" style="width: 25%;">
                <label>Choose Sport</label>
                <select class="ui fluid dropdown" ng-model='bottomRight.chosenSport'  ng-change="sportChosen()" ng-options='sport for sport in bottomRight.sports'></select>
            </div>
            <div class="four wide column" style="width: 25%;">
                <label>Choose Group</label>
                <select class="ui fluid dropdown" ng-model='bottomRight.chosenGroup'  ng-change="groupChosen()" ng-options='group for group in bottomRight.groups'></select>
            </div>
            <div class="four wide column" style="width: 25%;">
                <label>Choose Broadcast</label>
                <select class="ui fluid dropdown" ng-model='bottomRight.chosenBroadcast'  ng-change="broadcastChosen()" ng-options='broadcast for broadcast in bottomRight.broadcasts'></select>
            </div>
         </div>
    </div>

  </div><!-- ui grid center aligned -->
     <div class="sixteen wide column">
        <div class="ui divider"></div>
        <div class="fields">
            <div class="eight wide field">
                <div class="ui center form">
                    <h3>Restrict to only above fixtures</h3>
                    <button class="ui green button" ng-click="limitToChosen()">Show selected</button>
                    <div class="ui red button" ng-click="showAllFixtures()">Allow all fixtures to be shown</div>
                </div>
            </div>
            <div class="four wide field">
                <div class="ui center form">
                    <h3>Image Override</h3>
                     <dropdown title="Pick Image"  ng-model="bottomRight.template">
                        <dropdown-group>image1.jpg</dropdown-group>
                        <dropdown-group>image2.jpg</dropdown-group>
                      </dropdown>
                </div>
            </div>
            <div class="four wide field">
                <div class="ui center form">
                    <button class="ui green button" ng-click="applyImageOverride()">Show selected</button>
                    <div class="ui red button" ng-click="hideImageOverride()">Remove Image</div>
                </div>
            </div>
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui divider"></div>
        <div class="fields">
            <div class="eight wide field"> 
                <h3>Scores / Times Options</h3>
            </div>
            <div class="eight wide field"> 
                <h3>Header Text Override</h3>
            </div>
        </div>
        <br />    
        <div class="fields">
            <div class="four wide field">   
                <checkbox ng-model="bottomRight.showPastEvents" style="margin-right:10px;" size="large" type="toggle">Show Past Events</checkbox>
            </div>
            <div class="four wide field">   
                    <checkbox ng-model="bottomRight.limitToToday" style="margin-right:10px;" size="large" type="toggle">Limit to Today</checkbox>
                </div>
            <div class="eight wide field">
                    
                <input name="bottomRight.header" placeholder="Header" type="text" ng-model="bottomRight.header" />
            </div>
        </div>
    </div>
</div><!-- ui form segment -->