<div class="ui form segment">
    <h2>Moments - Bottom Left</h2>

    <div class="ui grid center aligned">
        <div class="four wide column">
            <h3>Max moments</h3>
            <h1 style="margin-top: 0px !important;">{{bottomLeft.grabThisMany}}</h1>
            <div class="ui icon buttons">
                <button class="ui green button" ng-click="bottomLeft.grabThisMany = bottomLeft.grabThisMany + 1;">
                    <i class="plus icon"></i>
                </button>
                <button class="ui red button" ng-click="bottomLeft.grabThisMany = bottomLeft.grabThisMany - 1;" ng-disabled="bottomLeft.grabThisMany == 1">
                    <i class="minus icon"></i>
                </button>
            </div>
            <br>
            <br>
            <div class="ui icon buttons">
                <button class="ui red button" ng-click="bottomLeft.grabThisMany = 10">
                    <i class="ban icon"></i>Reset
                </button>
            </div>
        </div>
        <div class="eight wide column">
            <h3>Yo, put this thing up!</h3>
            <input  type="text" placeholder="Header" ng-model="bottomLeft.overrideHeader">
            <br /><br />
            <input  type="text" placeholder="Two lines of text" ng-model="bottomLeft.overrideText">
            <br /><br />
             <checkbox ng-model="bottomLeft.momentOverride" style="margin-right:10px;" size="large" type="toggle">Override with above content</checkbox>
        </div>
    </div>
</div>	


<div class="ui segment" ng-repeat="moment in moments.rows">
    <div class="ui grid">
        <div class="left aligned ui ten wide column">
            <h2 class="left aligned ui header">{{moment.type}}
                <span style="font-size: 12pt;"> {{moment.updated_at | date : "short"}} </span>
            </h2>
            <div class="sub header">{{moment.text}}</div>
            
        </div>
        <div class="center aligned ui six wide column">
            <div class="ui small buttons">
                <div class="ui positive button" ng-click="show(moment.id)" >Force This On</div>
            </div>
            <div class="ui icon buttons">
                <button class="ui orange button" ng-click="hideOverridden(moment.id)">
                    Stop Forced
                </button>
            </div>
            <br /><br />
            <div class="ui red small buttons">
                <div class="ui negative button" ng-click="removeMoment(moment.id)">Remove from list</div>
            </div>
            <div class="ui small buttons">
                <div class="ui positive button" ng-click="returnMoment(moment.id)">Back to list</div>
            </div>
        </div>
    </div>
</div>