<div class="ui form segment">
    <h2>Bottom Left</h2>

</div>	

<div class="ui segment">
<p>
In this one I'm planning to show all the recent moments (the user will select the number) and then offer the option to hide certain ones, manually force one on and the option to toggle the switching settings.
</p><p>
I'll also allow them to tick boxes as to which type of moments to show, and offer the option to select only moments which are about a particular sport. 
</p><p>
Might even allow them to put in a custom one.
</p><p>
By default it'll just cycle through the last 10 live moments.
</p>
</div>

<div class="ui segment" ng-repeat="moment in $scope.moments">
  <div class="ui grid">
    <div class="tweleve wide column">
      <h2 class="left aligned ui header">
          <i class="list layout icon"></i>
          <div class="content">
              {{moment.type}}
              <div class="sub header">{{moment.text}}</div>
          </div>
        </h2>
    </div>

    <div class="two wide column">
      
    </div>

    <div class="two wide column">

    </div>

    <div class="right aligned six wide column">
      <div class="ui small buttons">
        <div class="ui positive button" ng-click="show('left', third)" >Left</div>
      </div>
      <div class="ui icon red small button">
        <i class="delete icon" ng-click='remove($index)'></i>
      </div>
    </div>
  </div>
</div>