<div class="ui form segment">
  <h2>Twitter</h2>

	<div class="ui visible info message">
		<i class="close icon"></i>
		<div class="header">Tweet Url</div>
		<p>Please enter the url of the tweet to show.</p>
	</div>

	  <div class="inline field">
        <label for="Heading">Twitter URL</label>
        <input id="Heading" placeholder="Tweet URL plz" type="text" ng-trim="true" ng-model="lowerThird.heading"/>

    <checkbox size="large" ng-model="roses.showTweet" type="toggle">Make live!</checkbox>
  </div>
</div>