<div class="ui form segment">
  <h2>Social Media</h2>

    <div class="ui grid center aligned">
        <div class="4 wide column">
            <div class="field"><checkbox ng-model="socialmedia.show" size="large" type="toggle">Show Post</checkbox></div>
        </div>
    </div>

    <div class="ui divider"></div>

    <br>
   <div class="ui grid">

        <div class="sizteen wide column">
		
			<div class="fields">

                <div class="eight wide field">
					<input id=socialurl type="text" placeholder="Tweet URL" ng-model="socialmedia.tweet">
				</div>
		

				<div class="four wide field">
						 <dropdown title="Tweet Location"  ng-model="socialmedia.pos">
							<dropdown-group>bottom left</dropdown-group>
							<dropdown-group>bottom right</dropdown-group>
							<dropdown-group>bottom center</dropdown-group>
							<dropdown-group>top center</dropdown-group>
						  </dropdown>
				</div>
			
				<div class="four wide field right">
						<button id=resolve-tweet class="ui blue button">Preview </button>
				</div>
			</div>
		</div>
</div>	
<br>
 <div class="ui divider"></div>

    <br>
    <div class="ui grid">
    <div class="four wide column center"> </div>  
	<div class="eight wide column center">
        <div id=tweet_details></div>
	</div>
	<div class="four wide column center"> </div>  	
	</div>
			
		<script>
		
			$(document).ready(function() {
			  $("#resolve-tweet").click(function() {
				var url = $("#socialurl").val();
				
				if (url.includes("instagram.com")) { oEmbedUrl = 'http://api.instagram.com/oembed?url='; }
				else if (url.includes("facebook.com")) { oEmbedUrl = 'https://www.facebook.com/plugins/post/oembed.json/?url='; }
          		else { oEmbedUrl = 'https://api.twitter.com/1/statuses/oembed.json?url=';
          		}
				
				if (url == "") {
				  $(".controls").addClass("error");
				} else {
				  $("#tweet_div").show();
				  $.ajax({
					url: oEmbedUrl + url,
					dataType: "jsonp",
					success: function(data) {
					  $('#tweet_details').html(data.html);
					}
				  });
				}
			  })
			})
	  </script>


   