<div class="ui form segment">
  <h2>Twitter</h2>

	<p>
	  <div class="inline field">
        <input id="TwitterURL" placeholder="Tweet URL plz" type="text" size="24" ng-trim="true" ng-model="Twitter.URL"/>
		<label for="TwitterURL">Twitter URL</label>
	  </div>
	</p>
	<p>
	 
	 <div class="inline field">
        <dropdown title="Tweet Location" ng-model="tweet.currPos" on-change="posChanged()">
        <dropdown-group>Middle Center</dropdown-group>
        <dropdown-group>Bottom Center</dropdown-group>
        <dropdown-group>Bottom Left</dropdown-group>
        <dropdown-group>Bottom Right</dropdown-group>
      </dropdown>
      	<label>Tweet Location</label>
      </div>
    <p>
		<checkbox size="large" ng-model="roses.showTweet" type="toggle">Put Tweet Live</checkbox>
	</p>

</div>