* {
  -webkit-box-sizing: border-box;
  box-sizing:border-box;                                   /* This sets all elements to be the actual set dimensions, disregarding padding and borders */
  webkit-backface-visibility: hidden;                     /* Hide the backface of elements - usuefull for 3d effects */
  -webkit-transition: translate3d(0,0,0);                  /* Turns on hardware acceleration - not known to be of benefit in CCG, but won't hurt */
}

body {
    font-family: 'Montserrat', sans-serif;
    background:transparent;                          /* The HTML consumer actually makes your background transparent by default, unless a color or image is specified - but this might be usefull when debugging in browsers */
    overflow:hidden;                                 /* Hide any overflowing elements - to disable scollbars */
    -webkit-font-smoothing:antialiased !important;
}

@-webkit-keyframes moving-gradient {
    0% { background-position: left bottom; }
    100% { background-position: right bottom; }
}

h1, h2, h3, h4 {
    margin:0;
    padding:0;
}


/**************************************************/
/*              [Layout]                          */
/**************************************************/


.float-left {
    float: left;
}
.float-right {
    float: right;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

#txAreaBox, #topRightBox, #bottomRightBox, #bottomLeftBox, #bottomCenterBox, #tickerBox {
    position: absolute;
    overflow: hidden;   
}

#txAreaBox {
    top: 0px;
    left: 0px;
    background-color: black;
    width: 1040px;
    height: 585px;
}
#topRightBox {
    top: 0px;
    right: 0px;
    width: 240px;
    height: 120px;
    background-color: #1f1a34;
    border-bottom: 2px solid white;
}
#bottomRightBox {
    bottom: 60px;
    right: 0px;
    width: 240px;
    height: 540px;
    background-color: #a9a9a9;
    padding-top: 12px;
    border-top: 2px solid white;
}
#bottomLeftBox {
    bottom: 60px;
    left: 0px;
    width: 245px;
    height: 75px;
    background-color: #BC204B;
}
#bottomCenterBox {
    bottom: 60px;
    left: 245px;
    width: 795px;
    height: 75px;
    background-color: #f2f2f2;
}
#tickerBox {
    bottom: 30px;
    left: 0px;
    width: 1280px;
    height: 30px;
    background-color: #1f1a34;
}

#emptySpace {
    bottom: 0px;
    left: 0px;
    width: 1280px;
    height: 30px;
}

/* Fix for moments */
strong {
    margin-left: 6px;
    margin-right: 6px;
    font-weight: bold;
}

/* Useful for adding as spans */
.teamLancs {
    color: #b5121b;
}

.teamYork {
    color: #fcaf17;
}

.teamLancsInverse {
    background-color: #b5121b;
    color: white;
}

.teamYorkInverse {
    background-color: #fcaf17;
    color: white;
}

.teamLancsInverse, .teamYorkInverse {
    margin-left: 6px;
    margin-right; 6px;
    padding-left: 6px;
    padding-right: 6px;
}

.disableButton {
    opacity: 0.65; 
    cursor: not-allowed;
}
/**************************************************/
/*              [Top Right Box]                   */
/**************************************************/

#topRightBox .time h1, #topRightBox .date h1, #topRightBox .subTitle h1 {
    color: white;
    text-align: center;
    position: absolute;
    width: 240px;
}

#topRightBox .time h1 {
    font-size: 28px;
    top: 28px;
    text-transform: lowercase;
}

#topRightBox .date h1 {
    font-size: 18px;
    top: 52px;
    line-height: 24px;
}

#topRightBox .subTitle h1 {
    font-size: 16px;
    top: 76px;
    line-height: 24px;
}

/**************************************************/
/*            [Bottom Right Box Fixtures]         */
/**************************************************/

#bottomRightBox h1 {
    color: #1f1a34;
    text-align: left;
    font-size: 24px;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 26px;
    padding-bottom: 12px;
}

#bottomRightBox .row {
    margin-left: 6px;
    margin-right: 6px;
    width: calc(100% - 12px);
    margin-bottom: 6px;
    background-color: #BC204B;
    
}


#bottomRightBox .fixtureGroup {
    width: 160px;
    display: inline-block;
    text-transform: capitalize;
    padding-right: 3px;
    background-color: white;
    padding: 6px;
    border-radius: 0px 0px 10px;
}

#bottomRightBox .fixtureTime,  #bottomRightBox .fixtureDay, #bottomRightBox .fixturePoints  {
    width: 65px;
    float: right;
    text-align: center;
    display: inline-block;
    background-color: #BC204B;
    color: White;
    padding: 6px;
}

#bottomRightBox .fixtureTime {
    display: inline-block;
    font-weight: bold;
}

#bottomRightBox .fixturePoints,  #bottomRightBox .fixtureDay {
    display: none; /* This will be changed dynamically in index.html */
}



/**************************************************/
/*              [Bottom Left Box]                 */
/**************************************************/

#bottomLeftBox .header h1, #bottomLeftBox .description h1 {
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 12px;
    padding-right: 12px;
}

#bottomLeftBox .header h1 {
    font-size: 24px;
}

#bottomLeftBox .description h1 {
    font-size: 18px;
}

/**************************************************/
/*              [Bottom Center Box]                */
/**************************************************/

#bottomCenterBox .header h1, #bottomCenterBox .description h1 {
    color: #1f1a34;
    text-align: left;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 12px;
    padding-right: 12px;
}

#bottomCenterBox .header h1 {
    font-size: 28px;
    line-height: 48px;
}

#bottomCenterBox .description h1 {
    font-size: 22px;
    line-height: 24px;
}

/**************************************************/
/*              [Ticker Box]                      */
/**************************************************/

#tickerBox .tickerHeader {
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
    color: #1f1a34;
    font-size: 24px;
    margin-left: 12px;   
}

 #marquee {
    position: fixed;
    overflow: hidden;
    margin: 0;
    line-height: 30px;
    height: 30px;
    font-size: 24px;
    bottom: 30px;
    left: 0;
    right: 0;
    background-color: #1f1a34;
    color: #ffffff;

}

#marquee .tickerHeader {
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
    color: #1f1a34;
    font-size: 24px;   
}