* {
  -webkit-box-sizing: border-box;
  box-sizing:border-box;                                   /* This sets all elements to be the actual set dimensions, disregarding padding and borders */
  webkit-backface-visibility: hidden;                     /* Hide the backface of elements - usuefull for 3d effects */
  -webkit-transition: translate3d(0,0,0);                  /* Turns on hardware acceleration - not known to be of benefit in CCG, but won't hurt */
}

body {
    font-family: 'Montserrat', sans-serif;
    background:transparent;                          /* The HTML consumer actually makes your background transparent by default, unless a color or image is specified - but this might be usefull when debugging in browsers */
    overflow:hidden;                                 /* Hide any overflowing elements - to disable scollbars */
    -webkit-font-smoothing:antialiased !important;
}

@-webkit-keyframes moving-gradient {
    0% { background-position: left bottom; }
    100% { background-position: right bottom; }
}

h1, h2, h3, h4 {
    margin:0;
    padding:0;
}


/**************************************************/
/*              [Layout]                          */
/**************************************************/


.float-left {
    float: left;
}
.float-right {
    float: right;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

/**************************************************/
/*              [Layout]                          */
/**************************************************/

#txAreaBox, #topRightBox, #bottomRightBox, #bottomLeftBox, #bottomCenterBox, #tickerBox {
    position: absolute;   
}

#txAreaBox {
    top: 0px;
    left: 0px;
    background-color: black;
    width: 1010px;
    height: 588px;
}
#topRightBox {
    top: 0px;
    right: 0px;
    width: 270px;
    height: 120px;
    background-color: red;
}
#bottomRightBox {
    bottom: 60px;
    right: 0px;
    width: 270px;
    height: 540px;
    background-color: blue;
}
#bottomLeftBox {
    bottom: 60px;
    left: 0px;
    width: 245px;
    height: 75px;
    background-color: yellow;
}
#bottomCenterBox {
    bottom: 60px;
    left: 245px;
    width: 765px;
    height: 75px;
    background-color: pink;
}
#tickerBox {
    bottom: 30px;
    left: 0px;
    width: 1280px;
    height: 30px;
    background-color: green;
}

#emptySpace {
    bottom: 0px;
    left: 0px;
    width: 1280px;
    height: 30px;
}

/**************************************************/
/*              [Top Right Box]                   */
/**************************************************/

#topRightBox .time h1, #topRightBox .date h1, #topRightBox .subTitle h1 {
    color: white;
    text-align: center;
    position: absolute;
    width: 270px;
}

#topRightBox .time h1 {
    font-size: 24px;
    top: 28px;
    text-transform: lowercase;
}

#topRightBox .date h1 {
    font-size: 18px;
    top: 52px;
    line-height: 24px;
}

#topRightBox .subTitle h1 {
    font-size: 16px;
    top: 76px;
    line-height: 24px;
}


/**************************************************/
/*              [Ticker Box]                      */
/**************************************************/

#tickerBox .tickerText {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}

#tickerBox .tickerText .tickerHeader {
    background-color: #1f1a34;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
    font-size: 28px;
}

#tickerBox .tickerText p {
    color: white;
    font-size: 26px;
    line-height: 30px;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    color: #1f1a34;
    white-space:nowrap;
    
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%); 
    transform:translateX(100%);
    
    /* Apply animation to this element */ 
    -moz-animation: scroll-left 30s linear infinite;
    -webkit-animation: scroll-left 30s linear infinite;
    animation: scroll-left 30s linear infinite;
}
    
    /* Move it (define the animation) */
@-moz-keyframes scroll-left {
    0% { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
    0% { 
        -webkit-transform: translateX(100%);
    }
    100% { 
        -webkit-transform: translateX(-100%); 
    }
}
@keyframes scroll-left {
    0% { 
        -moz-transform: translateX(100%); /* Browser bug fix */
        -webkit-transform: translateX(100%); /* Browser bug fix */
        transform: translateX(100%); 
    }
    100% { 
        -moz-transform: translateX(-100%); /* Browser bug fix */
        -webkit-transform: translateX(-100%); /* Browser bug fix */
        transform: translateX(-100%); 
    }
}